FrontendWebF/web/WEB-INF/wsdl/localhost_8080/BackendWebF/WebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.webf/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.webf/" name="WebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.webf/" schemaLocation="http://localhost:8080/BackendWebF/WebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getRole">
<part name="parameters" element="tns:getRole"/>
</message>
<message name="getRoleResponse">
<part name="parameters" element="tns:getRoleResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getCourses">
<part name="parameters" element="tns:getCourses"/>
</message>
<message name="getCoursesResponse">
<part name="parameters" element="tns:getCoursesResponse"/>
</message>
<message name="getCourseDetail">
<part name="parameters" element="tns:getCourseDetail"/>
</message>
<message name="getCourseDetailResponse">
<part name="parameters" element="tns:getCourseDetailResponse"/>
</message>
<message name="saveCourseDetail">
<part name="parameters" element="tns:saveCourseDetail"/>
</message>
<message name="saveCourseDetailResponse">
<part name="parameters" element="tns:saveCourseDetailResponse"/>
</message>
<message name="getAllCourses">
<part name="parameters" element="tns:getAllCourses"/>
</message>
<message name="getAllCoursesResponse">
<part name="parameters" element="tns:getAllCoursesResponse"/>
</message>
<message name="deleteCourse">
<part name="parameters" element="tns:deleteCourse"/>
</message>
<message name="deleteCourseResponse">
<part name="parameters" element="tns:deleteCourseResponse"/>
</message>
<message name="createNewCourse">
<part name="parameters" element="tns:createNewCourse"/>
</message>
<message name="createNewCourseResponse">
<part name="parameters" element="tns:createNewCourseResponse"/>
</message>
<portType name="WebServices">
<operation name="login">
<input wsam:Action="http://webservice.webf/WebServices/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservice.webf/WebServices/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getRole">
<input wsam:Action="http://webservice.webf/WebServices/getRoleRequest" message="tns:getRole"/>
<output wsam:Action="http://webservice.webf/WebServices/getRoleResponse" message="tns:getRoleResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservice.webf/WebServices/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice.webf/WebServices/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getCourses">
<input wsam:Action="http://webservice.webf/WebServices/getCoursesRequest" message="tns:getCourses"/>
<output wsam:Action="http://webservice.webf/WebServices/getCoursesResponse" message="tns:getCoursesResponse"/>
</operation>
<operation name="getCourseDetail">
<input wsam:Action="http://webservice.webf/WebServices/getCourseDetailRequest" message="tns:getCourseDetail"/>
<output wsam:Action="http://webservice.webf/WebServices/getCourseDetailResponse" message="tns:getCourseDetailResponse"/>
</operation>
<operation name="saveCourseDetail">
<input wsam:Action="http://webservice.webf/WebServices/saveCourseDetailRequest" message="tns:saveCourseDetail"/>
<output wsam:Action="http://webservice.webf/WebServices/saveCourseDetailResponse" message="tns:saveCourseDetailResponse"/>
</operation>
<operation name="getAllCourses">
<input wsam:Action="http://webservice.webf/WebServices/getAllCoursesRequest" message="tns:getAllCourses"/>
<output wsam:Action="http://webservice.webf/WebServices/getAllCoursesResponse" message="tns:getAllCoursesResponse"/>
</operation>
<operation name="deleteCourse">
<input wsam:Action="http://webservice.webf/WebServices/deleteCourseRequest" message="tns:deleteCourse"/>
<output wsam:Action="http://webservice.webf/WebServices/deleteCourseResponse" message="tns:deleteCourseResponse"/>
</operation>
<operation name="createNewCourse">
<input wsam:Action="http://webservice.webf/WebServices/createNewCourseRequest" message="tns:createNewCourse"/>
<output wsam:Action="http://webservice.webf/WebServices/createNewCourseResponse" message="tns:createNewCourseResponse"/>
</operation>
</portType>
<binding name="WebServicesPortBinding" type="tns:WebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCourses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCourseDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveCourseDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCourses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServices">
<port name="WebServicesPort" binding="tns:WebServicesPortBinding">
<soap:address location="http://localhost:8080/BackendWebF/WebServices"/>
</port>
</service>
</definitions>