FrontendWebF/web/WEB-INF/wsdl/localhost_8080/BackendWebF/WebServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.webf/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.webf/">

<xs:element name="createNewCourse" type="tns:createNewCourse"/>

<xs:element name="createNewCourseResponse" type="tns:createNewCourseResponse"/>

<xs:element name="deleteCourse" type="tns:deleteCourse"/>

<xs:element name="deleteCourseResponse" type="tns:deleteCourseResponse"/>

<xs:element name="getAllCourses" type="tns:getAllCourses"/>

<xs:element name="getAllCoursesResponse" type="tns:getAllCoursesResponse"/>

<xs:element name="getCourseDetail" type="tns:getCourseDetail"/>

<xs:element name="getCourseDetailResponse" type="tns:getCourseDetailResponse"/>

<xs:element name="getCourses" type="tns:getCourses"/>

<xs:element name="getCoursesResponse" type="tns:getCoursesResponse"/>

<xs:element name="getRole" type="tns:getRole"/>

<xs:element name="getRoleResponse" type="tns:getRoleResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="loginResponseType" type="tns:loginResponseType"/>

<xs:element name="saveCourseDetail" type="tns:saveCourseDetail"/>

<xs:element name="saveCourseDetailResponse" type="tns:saveCourseDetailResponse"/>

<xs:complexType name="getCourseDetail">
<xs:sequence>
<xs:element name="courseDetailReq" type="tns:courseDetailRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="courseDetailRequest">
<xs:sequence>
<xs:element name="coursePk" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCourseDetailResponse">
<xs:sequence>
<xs:element name="return" type="tns:courseType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="courseType">
<xs:sequence>
<xs:element name="coursePk" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCourse">
<xs:sequence>
<xs:element name="deleteParameter" type="tns:courseType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCourseResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCourses">
<xs:sequence>
<xs:element name="userId" type="tns:loginResponse2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse2">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCoursesResponse">
<xs:sequence>
<xs:element name="return" type="tns:courseListType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="courseListType">
<xs:sequence>
<xs:element name="cLT" type="tns:courseType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="parameter" type="tns:loginRequestType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginRequestType">
<xs:sequence>
<xs:element name="loginRequest" type="tns:loginRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginRequest">
<xs:sequence>
<xs:element name="loginDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="passw" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:loginResponseType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponseType">
<xs:sequence>
<xs:element name="loginResponse" type="tns:loginResponse2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveCourseDetail">
<xs:sequence>
<xs:element name="parameter" type="tns:courseType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveCourseDetailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRole">
<xs:sequence>
<xs:element name="lResp" type="tns:loginResponse2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoleResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewCourse">
<xs:sequence>
<xs:element name="teacherId" type="tns:loginResponse2" minOccurs="0"/>
<xs:element name="newCourse" type="tns:courseType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewCourseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCourses">
<xs:sequence>
<xs:element name="courseAll" type="tns:courseType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCoursesResponse">
<xs:sequence>
<xs:element name="return" type="tns:courseListType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>